{% extends "base.html.twig" %}
{% block title %} Homepage {% endblock %}
{% block body %}

<div class="container">
    <h1 class="text-center">Wij beschikken over {{ pizzaCategories|length }} verschillende categoriëen</h1>

    <div class="row gy-3">
        {%  for pizzaCategorie in pizzaCategories %}
        <div class=" col-12 col-md-4">
            <div class="card text-center" style="width: 20rem;">
                <img src="img/{{ pizzaCategorie.image }}.jpg " class="card-img-top" alt="{{ pizzaCategorie.name }}">
                <div class="card-body">
                    <h5 class="card-title ">{{ pizzaCategorie.name }}</h5>
                    <a href="{{ path("app_menu", {id: pizzaCategorie.id}) }}" class="btn btn-primary btn-center">Bekijk alle pizza's</a>
                </div>
            </div><br>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}